#mainheading {
color: rgb(195, 7, 44);
font-size: 350%;
text-shadow: -2px -2px rgb(0, 0, 0);
}
.content {
    text-align: center;
  color: white;
  font-size: 175%;
  } 
  #testP {
    color: rgb(20, 220, 70);
    text-align: center;
  }
 .center {
    text-align: center;
    color:rgb(154, 150, 150);
  }

body {
    margin: 8px;
    font-display: block;
}   
.subheader{
   text-align: center;
    color: white;
    font-size: 325%;
}
.subheader2{
    text-align: center;
     color: white;
     font-size: 150%;
 }
 .subheader3{
    text-align: center;
     color: white;
     font-size: 250%;
 }
.image {
    text-align: center;
    padding: 5px;
}
.imagesource {
    text-align: center;
    padding: 0px;
    font-size: 100%;
    color: white;
}
